* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1c25;
  font-family: 'Poppins', sans-serif;
  background-image: url('Black-background.jpg');
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.main {
  min-height: 50vh;
  min-width: 40vw;
  margin: 0px auto;
  padding: 50px;
  background: rgba( 12, 12, 15, 0.00 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 20.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.main > h4 {
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
}

.main > p {
  color: #AAA;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}

.main > p span {
  font-weight: 400;
}

.details .song-img {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.details .song-img img {
  display: block;
  margin: 50px auto;
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
  box-shadow:  0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.details .song-img:after {
  content: '';
  display: block;
  position: absolute;
  top: -25px;
  left: -25px;
  right: -25px;
  bottom: -25px;
  border-radius: 50%;
}

.details .song-title {
  color: #EEE;
  font-size: 28px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8), -2px -2px 4px rgba(255,255,255,0.4);
  text-align: center;
  margin-bottom: 10px;
}

.details .song-artist {
  color: #AAA;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8), -2px -2px 4px rgba(255,255,255,0.4);
  text-align: center;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.controls .play-btn {
  display: flex;
  margin: 0 30px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8), -4px -4px 10px rgba(255, 255, 255, 0.4), inset -4px -4px 10px rgba(0, 0, 0, 0.4), inset 4px 4px 10px rgba(255, 255, 255, 0.4);
  border: none;
  outline: none;
  background-color: #663399;
  color: #FFF;
  font-size: 24px;
  cursor: pointer;
}

.controls .skip-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #888;
  font-size: 18px;
}